
.value {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
}

.diff {
  line-height: 1 !important;
  display: flex  !important;
  align-items: center !important;
}


.title {
  font-weight: 700 !important;
  text-transform: uppercase !important;
}